{
  "options": {
    "config_plugin": "filesystem",
    "logger_plugin": "filesystem",
    "logger_path": "{{ osquery_log_dir }}",
    "disable_logging": "false",
    "log_result_events": "true",
    "schedule_splay_percent": "10",
    "pidfile": "C:\\ProgramData\\osquery\\osquery.pidfile",
    "events_expiry": "3600",
    "database_path": "C:\\ProgramData\\osquery\\osquery.db",
    "verbose": "false",
    "worker_threads": "2",
    "enable_monitor": "true",
    "host_identifier": "hostname"
  },

  "schedule": {
    "system_info": {
      "query": "SELECT hostname, cpu_brand, physical_memory FROM system_info;",
      "interval": 3600,
      "description": "Retrieve system information"
    },
    "process_monitor": {
      "query": "SELECT pid, name, path, cmdline, cwd FROM processes;",
      "interval": 600,
      "description": "Monitor running processes"
    },
    "user_sessions": {
      "query": "SELECT * FROM logged_in_users;",
      "interval": 600,
      "description": "Track logged in users"
    },
    "network_connections": {
      "query": "SELECT pid, local_address, local_port, remote_address, remote_port FROM process_open_sockets WHERE remote_port != 0;",
      "interval": 600,
      "description": "Monitor network connections"
    },
    "vscode_extensions": {
      "query": "SELECT u.username, f.path, f.filename, json_extract(fc.data, '$.name') AS extension_name, json_extract(fc.data, '$.version') AS version, json_extract(fc.data, '$.publisher') AS publisher FROM users u CROSS JOIN file f ON f.path LIKE 'C:\\Users\\' || u.username || '\\.vscode\\extensions\\%\\package.json' CROSS JOIN file fc ON fc.path = f.path WHERE f.filename = 'package.json';",
      "interval": 3600,
      "description": "VSCode extensions installed per user"
    },
    "jetbrains_plugins": {
      "query": "SELECT u.username, f.directory, f.filename FROM users u CROSS JOIN file f ON f.directory LIKE 'C:\\Users\\' || u.username || '\\AppData\\Roaming\\JetBrains\\%\\plugins\\%' WHERE f.filename LIKE '%.jar' OR f.filename = 'plugin.xml';",
      "interval": 3600,
      "description": "JetBrains IDE plugins installed per user"
    },
    "chocolatey_packages": {
      "query": "SELECT name, version, summary FROM chocolatey_packages;",
      "interval": 3600,
      "description": "Chocolatey packages installed"
    }
  },

  "decorators": {
    "load": [
      "SELECT uuid AS host_uuid FROM system_info;",
      "SELECT user AS username FROM logged_in_users ORDER BY time DESC LIMIT 1;"
    ]
  },

  "packs": {
    "windows-hardening": "C:\\Program Files\\osquery\\packs\\windows-hardening.conf",
    "windows-attacks": "C:\\Program Files\\osquery\\packs\\windows-attacks.conf"
  }
}
