{
  "options": {
    "config_plugin": "filesystem",
    "logger_plugin": "filesystem",
    "logger_path": "{{ osquery_log_dir }}",
    "disable_logging": "false",
    "log_result_events": "true",
    "schedule_splay_percent": "10",
    "pidfile": "C:\\ProgramData\\osquery\\osquery.pidfile",
    "events_expiry": "3600",
    "database_path": "C:\\ProgramData\\osquery\\osquery.db",
    "verbose": "false",
    "worker_threads": "2",
    "host_identifier": "hostname"
  },

  "schedule": {
    "system_info": {
      "query": "SELECT hostname, cpu_brand, physical_memory FROM system_info;",
      "interval": 3600,
      "description": "Retrieve system information"
    },
    "user_sessions": {
      "query": "SELECT * FROM logged_in_users;",
      "interval": 3600,
      "description": "Track logged in users"
    },
    "vscode_extensions": {
      "query": "SELECT u.username, vsc.vscode_edition, vsc.path, vsc.name AS extension_name, vsc.version AS version, vsc.publisher AS publisher, vsc.installed_at, vsc.publisher_id AS publisher_id FROM users u CROSS JOIN vscode_extensions vsc ON u.uid = vsc.uid;",
      "interval": 3600,
      "description": "VSCode extensions installed per user"
    },
    "jetbrains_plugins": {
      "query": "SELECT u.username, jbp.path, jbp.name AS extension_name, jbp.version AS version, jbp.vendor AS publisher FROM users u CROSS JOIN jetbrains_plugins jbp ON u.uid = jbp.uid;",
      "interval": 3600,
      "description": "JetBrains IDE plugins installed per user"
    },
    "chocolatey_packages": {
      "query": "SELECT name, version, summary, path FROM chocolatey_packages;",
      "interval": 3600,
      "description": "Chocolatey packages installed"
    }
  },

  "decorators": {
    "load": [
      "SELECT uuid AS host_uuid FROM system_info;",
      "SELECT user AS username FROM logged_in_users ORDER BY time DESC LIMIT 1;"
    ]
  },

  "packs": {
    "windows-hardening": "C:\\Program Files\\osquery\\packs\\windows-hardening.conf",
    "windows-attacks": "C:\\Program Files\\osquery\\packs\\windows-attacks.conf"
  }
}
